<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :login %><br>
    <%= f.text_field :login %>
  </div>
  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="form-group">
    <%= f.label :Full_Name %><br>
    <%= f.text_field :full_name %>
  </div>
  <div class="form-group">
    <%= f.label :birthday %><br>
    <%= f.text_field :birthday %>
  </div>
  <div class="form-group">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="form-group">
    <%= f.label :country %><br>
    <%= f.text_field :country %>
  </div>
  <div class="form-group">
    <%= f.label :state %><br>
    <%= f.text_field :state %>
  </div>
  <div class="form-group">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>
  <div class="form-group">
    <%= f.label :zip %><br>
    <%= f.text_field :zip %>
  </div>
  <% if current_user %>
    <% if ["admin"].include?(current_user.role) || current_user.id == @user.id%> 
      <div class="form-group">
        <%= f.label :role %><br>
        <%= f.select(:role, ['', 'admin', 'moderator']) %>
      </div>
    <% end %>
  <% end %>
  <div class="form-group">
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </div>
  <div class="form-group">
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation %>
  </div>
    <%= f.submit "OK",  class: "btn btn-primary btn-lg" %>
<% end %>
