
<p>
  <strong>Owner:</strong>
  <%= @product.user.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description.html_safe %>
</p>

<p>
  <strong>Image url:</strong>
  <% unless @product.image_url.nil? %><%=link_to((image_tag @product.image_url(:display)), image_path(@product.image_url),  class: 'image-popup-vertical-fit') %><% end %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<% if current_user %>
 <% if @product.user_id != current_user.id %>
 <%= button_to 'Message to owner', conversations_path(sender_id: current_user.id, recipient_id: @product.user_id), method: 'post', class: "btn btn-primary"%> 
 <% end %>
  <% if ["admin", "moderator"].include?(current_user.role) || current_user.id == @product.user_id %>
    <%= link_to 'Edit', edit_product_path(@product) %> |
    <%= link_to 'Delete product', @product, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
<% end %>

<%= link_to 'Back', request.referer %>

<div id="product">
  <%= render @product %>
</div>

<% unless current_user%>
  <p>
    Please login to comment product
  </p>
<% end %>


<% if current_user %>
<%= form_for(Micropost.new, remote: true) do |f| %>
  <%= f.hidden_field :product_id, :value => @product.id %>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <%= f.submit "Create Micropost", class: "btn btn-primary" %>
  </div>
<% end %>
<% end %>
