<!DOCTYPE html>
<html>
<head>
  <title>Torgash</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= yield :javascript %>
  <%= csrf_meta_tags %>
</head>
<body class = "container-fluid">



<nav class="navbar navbar-fixed-top navbar-light bg-faded">
  <div class="nav navbar-nav">
  <% if current_user %>
    <%= link_to "View your profile", user_path(current_user), class: "btn btn-success"%>
    <%= link_to "Log out", log_out_path, method: :delete, class: "btn btn-success" %>
    <%= link_to "Modify your profile", edit_user_path(current_user), class: "btn btn-success"%>

    <%= link_to 'Conversations', conversations_path, class: "btn btn-info"%>
  <% else %>
    <%= link_to "Log in with Facebook", "/auth/facebook", id: "sign_in", class: "btn btn-success" %>
    <%= link_to "Log in with password", log_in_path, class: "btn btn-success" %>

    <%= link_to "Sign up", sign_up_path, class: "btn btn-success"  %>
  <% end %>
    <%= link_to "Products", products_url, class: "btn btn-info" %>
    <%= link_to "Users", users_url, class: "btn btn-info"%>
</div>
</nav>

<div id="fix-for-navbar-fixed-top-spacing" style="height: 42px;">&nbsp;</div>
<% if notice.present? %>
  <aside class="alert alert-info">
    <%= notice %>
  </aside>
<% end %>
<% if alert.present? %>
  <aside class="alert alert-danger">
    <%= alert %>
  </aside>
<% end %>
  <% if current_user %>
    <div class = "row">Signed in as <strong><%= current_user.name %></strong>!</div>
  <% end %>
<%= yield %>

</body>
</html>
