<!DOCTYPE html>
<html>
<head>
  <title>Torgash</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= yield :javascript %>
  <%= csrf_meta_tags %>
</head>
<body class = "container">

<% if notice.present? %>
  <aside class="alert alert-info">
    <%= notice %>
  </aside>
<% end %>
<% if alert.present? %>
  <aside class="alert alert-danger">
    <%= alert %>
  </aside>
<% end %>


<div id="user_nav">
  <% if current_user %>
    Signed in as <strong><%= current_user.name %></strong>!
    <li><%= link_to "Log out", log_out_path, method: :delete %></li>
    <li><%= link_to "View your profile", user_path(current_user)  %></li>
    <li><%= link_to "Midify your profile", edit_user_path(current_user)  %></li>

      <div class="item">
        <%= link_to 'Conversations', conversations_path%>
      </div>
  <% else %>
    <%= link_to "Log in with Facebook", "/auth/facebook", id: "sign_in" %> or <%= link_to "Log in with password", log_in_path %> or

    <%= link_to "Sign up", sign_up_path  %>  
  <% end %>
</div>
<li><%= link_to "Products", products_url %></li>
<use><%= link_to "Users", users_url, style: "color: purple" %></use>



<%= yield %>

</body>
</html>
